footer{
    width:100%;
    margin-top:2%;
    
    p{ 
        text-align:center;
        color:rgb(124, 123, 123);
        font-size:0.8rem;
        a{
            font-size:0.8rem;
            text-decoration: underline;
            color:lightgreen;
            transition: color 1s, text-decoration 4s;
            &:hover{ 
                color:white;
                text-decoration: none;
            }
        }
    }
}