.dblock{
    display:block!important;
}

.dnone{
    display: none!important; 
}

.dmobileMenu{
    display:flex!important;
    flex-direction: column;
    background-color: white;
    position:absolute!important;
    right:0;
}

nav{
    // background-color: red;
    width:100%;
    min-height:5vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    a{
        text-decoration: none;
        color:white;
        &:hover{
            text-decoration: none;
            color:lightgreen!important;
        }
    }

    >div.mymenunav{
        >a{
            display:none;
        }
        ul{
            list-style-type:none;
            display:flex;
            justify-content: space-around;
            position:relative;
            z-index:2150;
            li{
                padding:10px;
                a{
                    font-family: 'Jose-bold';
                    font-size:0.8rem;
                    text-transform: uppercase; 
                    color:#ccc;
                    &.activemenu{
                        color:lightgreen;
                    }
                }
                &:nth-child(2){
                    // text-decoration: underline;
                    position:relative;
                    &::after{
                        content:'v';
                        font-size:0.7rem;
                        position:absolute;
                        top:50%;
                        transform: translateY(-47%);
                        color:#ccc;
                    }
                }
                >ul.dropmenu{
                    display:none;
                    background-color: white;
                    li {
                        a{
                            color:black;
                        }
                        >ul{
                            position:relative;
                        }
                    }
                    //
                    &.activated{
                        position:absolute;
                        width:max-content;
                        padding-left:3px;
                        padding-right:3px;
                        display: flex;
                        flex-direction: column;
                        z-index:2000;
                    }
                }
            }
        }
    }
    
    >div.icons{
        ul{
            list-style: none;
            display:flex;
            li{
                a{
                    i{
                        font-size:0.8rem;
                        padding:7px;
                        color:#ccc;
                        &:hover{
                            color:white;
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 650px){
    nav{
        // background-color: red;
        display:flex;
        flex-wrap: wrap;
        >a{
            width:80%;
            // background-color: green;
        }
        >div.mymenunav{
            // background-color: yellow;
            >a{
                display:block;
                width:20%;
            }
            >ul{
                display:none;
                // background-color: red;
                ul.dropmenu{
                    // background-color: blue!important;
                    padding-left:0px;
                    padding-right:0px;
                    right:1%;
                    position:absolute;
                    &::after{
                        content:'';
                    }
                }
            }
        }

        >div.icons{
            // background-color: orange;
            margin:0 auto;
        }
    }
}

