@font-face{
    font-family:"Jose"; 
    src:url("../assets/fonts/JosefinSans-Regular.ttf");
}

@font-face{
    font-family: "Jose-bold";
    src:url("../assets/fonts/JosefinSans-Bold.ttf");
}

@font-face{
    font-family: "Jose-light";
    src:url("../assets/fonts/JosefinSans-Light.ttf");
}

